<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://novadash.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>novadash.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NovaDash</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NovaDash</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=&quot;Server=tcp:novaadmin.database.windows.net,1433&quot;;AttachDbFilename=&quot;C:\Users\hali\Documents\Visual Studio 2015\Projects\Nova.Admin\Nova.Admin\Nova.Admin\Nova.Admin\App_Data\NovaAdmin.mdf&quot;;Initial Catalog=NovaAdmin;User ID=novauser@NovaAdminDb;Password=BladeRunner0*" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Nova.Admin.Models.ApplicationDbContext, Nova.Admin" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NovaAdminContext" Order="2" Enabled="False">
          <Destination Path="Data Source=local;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL11.EXPRESS\MSSQL\DATA\NovaAdmin.mdf&quot;;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Nova.Admin.Models.NovaAdminContext, Nova.Admin" MigrationConfiguration="Nova.Admin.Migrations.Configuration, Nova.Admin" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source="Server=tcp:novaadmin.database.windows.net,1433";AttachDbFilename="C:\Users\hali\Documents\Visual Studio 2015\Projects\Nova.Admin\Nova.Admin\Nova.Admin\Nova.Admin\App_Data\NovaAdmin.mdf";Initial Catalog=NovaAdmin;User ID=novauser@NovaAdminDb;Password=BladeRunner0*</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NovaAdminContext-Web.config Connection String">
      <ParameterValue>Data Source=local;AttachDbFilename="C:\Program Files\Microsoft SQL Server\MSSQL11.EXPRESS\MSSQL\DATA\NovaAdmin.mdf";Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>